ul{
    display: flex;
    background-color: grey;
    list-style-type: none;
    gap: 25px;
    padding: 15px;
    justify-content: center;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -3px;
    height: 2px;
    transition: width 0.5s ease;
    background-color: blue;
}
.nav-link:hover::after{
    width: 100%;
}